* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #222222;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1a1a1a;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo span {
  color: #5f5dff;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 500px;
  padding: 8px 15px;

  background: #ffffff14;
  border: 1px solid #ffffff33;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;  
  color: white;            
  outline: none;
  font-size: 1rem;
  padding-left: 8px;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.6); 
}

.search-bar button {
  border: none;
  padding: 5px 15px ;
  background-color: #ffffff14;
  color:#ffffff14;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;

}

.search-bar button img.icon {
  width: 20px;
  height: 20px;
}

/* parte do carrossel */
main {
  width: 100%;
}
.slider {
  margin: 0 auto;
  width: 100%; 
  height: 800px; 
  overflow: hidden;
  position: relative; 
}
.slides {
  width: 400%; 
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}

main {
  width: 100%;
}
.slider {
  margin: 0 auto;
  width: 100%;
  height: 500px; 
  overflow: hidden;
  position: relative; 
}
.slides {
  width: 400%;
  height: 100%; 
  display: flex;
}
.slides input {
  display: none;
}

#Carrosel { 
  display: flex; 
  width: 100%;
  height: 100%; 
  
}

.slide {
  width: 25%; 
  height: 100%; 
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.slide.first {
    transition: margin-left 0.8s ease-in-out; 
}

.slide img {
  width: 80%; 
  height: 100%; 
  border-radius: 10px;
  object-fit: fill; 
  object-position: center; 
}

/* -- Navegação Manual -- */
.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -25px; 
  display: flex;
  justify-content: center;
  
  bottom: 20px; 
  margin-top: 0; /* Remova o margin-top se usar 'bottom' */
}
.manual-btn {
  border: 2px solid #ffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: #fff;
}
#radio1:checked ~ #Carrosel .first {
  margin-left: 0;
}
#radio2:checked ~ #Carrosel .first {
  margin-left: -25%; 
}
#radio3:checked ~ #Carrosel .first {
  margin-left: -50%; 
}
.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

